@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pre-Semester Assignment</h1>
    <p>
     Please submit a resume 
     <a>Resume storage.</a>
    </p>
</div>
